html,
html{
    --bgnd_col: rgb(0, 0, 0);
    --txt_col: #dbdbdb;
}

/*Main Body*/

body {
    /* font-family: "Source Code Pro", monospace, Courier; */
    font-family: Georgia, serif;
    /* 	font-family: arial; */
    /*font-size: 1em;*/
    /*line-height: 1em;*/
    font-size: 16px;
    background-color: var(--bgnd_col);
    color: var(--txt_col);
    text-align: left;
    line-height: 1.5;
    /*margin: 0px 0px 0px 0px;*/
    padding: 0px 0px 0px 0px;
    max-width: 100%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

/*Headers*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 18px;
    margin: 0px;
    margin-top: 22px;
    font-weight: bold;
}

/*Header Styling*/

header {
	position: sticky;
	top: 0;
	background: black;
    margin-top: 25px;
    margin-bottom: 30px;
/*    border-top: dashed 1px var(--txt_col);
    border-bottom: dashed 1px var(--txt_col); */
    border-top: ridge 3px var(--txt_col);
    border-bottom: ridge 3px var(--txt_col);
    text-align: left;
    padding: 10px 0 40px 0; 
    z-index: 1000; /* Use a HIGHER value than the one for other features, e.g., compared to external-link class */
}

/*Header Paragraph Styling*/

header p {
    text-align: left;
    margin: 0;
}

/*Header Links Styling*/

header a {
    text-decoration: none;
    /*text-transform: uppercase;*/
}

/*Header List Styling*/

header ul {
    margin: 0px;
    padding: 0px;
}

header li {
    /*float: left;*/
    display: inline;
    padding: 0 5px 0 5px;
}

content > div {
  height: 50px;
}

/*Footer Styling*/

footer {
    color: var(--txt_col);
/*    border-top: dashed 1px var(--txt_col);*/
    margin: 40px auto 15px;
    padding-top: 5px;
    text-align: right;
    line-height: 1;
}


/*Links Styling*/

a {
    text-decoration: underline;
    color: var(--txt_col);
    /* color:rgb(216, 32, 32) */
}

a:hover {
    /* text-decoration: none; */
    color: var(--bgnd_col);
    background-color: var(--txt_col);
}

.external-link {
	z-index: 1; /* Use a LOWER value than the header in order for the link to hide below the sticky header */
}

.external-link a {
    text-decoration: underline;
    color: var(--txt_col);
    filter: invert(10%) sepia(100%) saturate(5944%) hue-rotate(247deg) brightness(94%)
        contrast(148%);
    word-break: break-all; /* Breaks long words to fit within the container */
    word-wrap: break-word; /* Ensures long words wrap to the next line */
	display: inline
}

.external-link a:hover {
    color: var(--bgnd_col);
    background-color: var(--txt_col);
    /* filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(0deg) brightness(104%) contrast(101%); */
}


/* Various Classes */

/*float classes for header alignment*/

.Float_Left {
    float:left;
}

.Float_Left li {
    font-size: 25px;
}

.Float_Right {
    float:right;
	padding: 10px 0 0 0
}

.Default_Container {
    text-align: justify;
}

.mobile {
	display: none;
}

.desktop {
	visibility: visible;
}


/*Default Container
.Default_Container {
    width:90%;
    max-width:600px;
    margin-right:auto;
    margin-left:auto;
}*/

/*Paragraph Styling
p {
    margin:0px;
    word-wrap:break-word;
    word-break:break-word;
    white-space:pre-wrap
}
*/


/*About Page*/

.Picture_Banner {
    width: 30%;
    float: left;
    padding: 15px 15px 15px 15px;
    font-size: 16.5px;
    margin-top: 20px;
    text-align: center;
}

.Picture_Banner ul {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
}

.Picture_Banner li {
    padding: 0 5px 0 5px;
}

.Picture_Banner li a {
    text-decoration: none;
}

.About_text {
    margin: 30px 0px 15px 30%;
    /*margin: 30px 0px 15px 290px;
    /*text-align: justify;
    text-justify: inter-word; */
}

.Links_ul li {
    margin: 0px;
    margin-bottom: 4px;
    padding: 0px;
}

.Links_ul img {
    transform: translate(0, 2px);
}

.Social_Menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Social_Menu img {
    height: 25px;
    width: auto;
}

.Social_Menu a {
    margin: 20px;
}

.Social_Menu a:hover {
    opacity: 0.9;
    transform: translate(0, -5px);
    /*text-decoration: none;*/
    background-color: initial;
    color: initial;
}

/*.svg images for the dark background*/

.svg_icons {
    filter: invert(78%) sepia(0%) saturate(1581%) hue-rotate(134deg) brightness(107%)
        contrast(108%);
    /*grey filter*/
}

/*For the posts container*/

.Posts_Container ul {
    list-style-type: none;
    padding: 0;
}

.Posts_Container li {
    padding: 10px;
    overflow: auto;
    border: 1px solid var(--txt_col);
}

.Posts_Container li img {
    float: left;
    margin: 3px 15px 0 0;
    padding: 0 0 3px 0;
}

.Posts_Container li p {
    margin: 10px 0px 0px 225px;
}

.Posts_Container li h2 {
    margin: 0px 0px 0px 225px;
}

.Posts_Container li h3 {
    opacity: 0.5;
    text-align: right;
    margin: 0;
    margin-top: 10px;
    margin-right: 25px;
    font-size: 16px;
}

.Posts_Container a {
    text-decoration: none;
}

.Posts_Container a:hover {
    opacity: 0.7;
    background-color: var(--bgnd_col);
    color: var(--txt_col);
    /*color: rgba(216, 32, 32, 0.7);*/
    color: rgb(216, 32, 32);
}

.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/*--------- Various Id -------------*/

/*Edit: 2021: For the CSN map*/
/* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
#map {
    height: 500px;
    width: 100%;
}

#profile_pic {
    width: 65%;
    min-width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
}

/* Media query for small screens */
@media (max-width: 600px) {
    #profile_pic {
        width: 50%;
		display: block;
        margin-left: 75px;
        margin-right: auto;
        border: 2px solid white;
    }

    header {
	    position: sticky;
	    top: 0;
	    background: black;
        margin-top: 25px;
        margin-bottom: 30px;
        border-top: ridge 3px var(--txt_col);
        border-bottom: ridge 3px var(--txt_col);
        text-align: left;
        padding: 10px 0 10px 0; 
		z-index: 1000; /* Use a HIGHER value than the one for other features, e.g., compared to external-link class */
}

	.mobile {
		display: inline
	}

	.desktop {
		display: none
	}

    .Float_Left li {
        font-size: 15px;
    }	

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .active {
        background-color: black;
        color: white;
    }

    .About_text {
        margin: 30px 0 30px 0;
        text-align: center;
    }

    .Picture_Banner {
        width: 100%;
        padding: 15px 15px 70px 15px;
        /*padding: 5% 5% 5% 5%;*/
        font-size: 16.5px;
        margin-top: 20px;
        align-items: center;
        text-align: center;
    }

    .Picture_Banner ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Picture_Banner li {
        padding: 5px 30px 5px 5px;
    }
}
